<ion-header>
  <ion-toolbar>
    <ion-title>Alertas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="presentAlert()">Click Me</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="exibirCustom()">Alerta Customizado</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="exibirComplete()">Alerta Completo</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
