<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
    <ion-item-sliding *ngFor="let x of tarefas">
      <ion-item>
          <ion-label>{{x.descricao}}</ion-label>
          <ion-icon slot="start" name="radio-button-off"></ion-icon>
       </ion-item> 
          <ion-item-options side="end">
            <ion-item-option (click)="apagar()">Apagar</ion-item-option>
          </ion-item-options>  
    </ion-item-sliding>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>