<ion-header>
  <ion-toolbar>
    <ion-title>Botões</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar style="margin-top: 15px">
    <ion-buttons slot="start">
      <ion-button>Button</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <br><br>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>Start</ion-button>
    </ion-buttons>
    <ion-title>Buttons</ion-title>
    <ion-buttons slot="end">
      <ion-button>End</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <br><br>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>


</ion-content>